/*
Creator: Diego Chico
Date created: 09182018
Date last modified: 09182018
*/

header h2, footer {
background-color: #453f3c;
color: #c1edcc;
height: 75px;
text-align: center;
font-family: arial, helvetica, sans-serif;
}

nav {
  border-top: thin solid #797270;
  border-bottom: thin solid #797270;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
}

nav a{
  display: block;
  float: left;
  margin: 20px;
}

.clear-float {
  clear: both;
}

nav a:visited {
  color: #797270;
}


nav a:hover {
  font-weight: bold;
}

nav a:active {
  text-decoration: none;
}

nav .btn {
  background-color: beige;
  color: #c1edcc;
}
